$wt: #fefefe;
$bl: #111;

.ft {
  position: relative;
  width: 100vw;
  height: 10vh;
  color: ($wt);
  background-color: ($bl);

  #copyright {
    width: 100vw;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
