$wt: #fefefe;
$bl: #111;

.ft {
  position: relative;
  width: 100vw;
  height: 10vh;
  background-color: ($bl);

  .txt-list {
    position: absolute;
    margin: auto;
    padding: 0;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;

    .txt {
      margin: 8px 0;
      color: ($wt);
      text-align: center;
    }

    .txt-link {
      color: ($wt);
    }
  }
}
