$res-pc: 767px;
$res-sm: 766px;

.intro {
  position: relative;
  width: 100vw;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  @media screen and (min-width: ($res-pc)) {
    margin-bottom: 10%;
  }

  .intro-content {
    position: relative;
    @media screen and (max-width: ($res-sm)) {
      width: 90%;
      padding: 0 5%;
      padding-bottom: 10%;
      border-bottom: 1px lightgray solid;
      
    }
    @media screen and (min-width: ($res-pc)) {
      width: 35%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}